:root {
    --primary-color: #138a98;
    --secondary-color: #ffffffb3;
    --background-color: #2F3565;
    --background-color-two: #f7f6fa;
    --nav-background: #01030e;
    --hover-color: #138a98;
    --hover-shadow-color: rgba(30, 144, 255, 0.8);
    --text-color: white;
    --text-muted-color: #ffffffb3;
    --gradient-start: #1e90ff;
    --gradient-end: #ffffff;
    --button-color: #e48c2f;

    /* 2f3565
    138a98 */
    /*e1f0f7*/

}



body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-two);
    color: var(--text-color);
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f3f8; 
    padding: 1rem;
    color: var(--text-color);
    position: fixed;  /* Fija la barra en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);  
    font-family: Montserrat, sans-serif;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}


.brand-title {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.logo {
    height: 55px;
    margin-left: 10%;
}

.navbar-links {
    display: flex;
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem; /* Aumenta la separación entre los enlaces */
    padding-right: 7rem;
}

.navbar-links li {
    padding: 0 1rem;
}

.navbar-links a {
    color: #333333; /* Color negro para todos los enlaces */
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    font-weight: 600; /* Similar a negritas */
    padding: 0.7rem 1rem; /* Añade espacio adicional alrededor del texto */
    display: inline-block; /* Asegura que el padding y el background se apliquen correctamente */
}


.navbar-links a:not(.contact-button)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 120%; /* Aumenta la altura para hacer el rectángulo más grande */
    background-color: rgba(0, 60, 255, 0.158); /* Rectángulo gris medio transparente */
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
    transform: translateY(-50%); /* Centra el rectángulo verticalmente */
}

.navbar-links a:hover::before {
    opacity: 1; /* Efecto de hover en el rectángulo gris */
}

.navbar-links .contact-button {
    color: #ffffff; /* Color blanco para el botón de contacto */
    background-color: var(--background-color); /* Mantiene el fondo azul */
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-weight: 450;
}

/* .contact-button {
    color: #ffffff; 
    background-color: var(--background-color); 
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
} */


.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 2px;
    width: 19px;
    background-color: var(--nav-background);
    border-radius: 10px;
}

.close-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--nav-background);
    cursor: pointer;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem; /* Ajusta el padding si es necesario */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f4f3f8; /* Mantén el fondo para la versión móvil */
        box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
        z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    }

    /* Ajusta la posición del logo */
    .logo {
        height: 50px; /* Ajusta la altura si es necesario */
        margin: 0 auto; /* Centra la imagen si es necesario */
    }

    /* Ajusta el toggle-button */
    .toggle-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px; /* Ajusta la altura del botón */
        cursor: pointer;
        margin-right: 1rem; /* Espacio desde el borde derecho */
    }

    /* Ajusta la posición del menú desplegable */
    .navbar-links {
        position: fixed;
        top: 0;
        right: -100%; /* Inicialmente oculto fuera de la pantalla */
        background-color: hsla(0, 0%, 100%, 0.315); /* Fondo semi-transparente */
        width: 60%; /* Ocupa todo el ancho en dispositivos móviles */
        height: 500%;
        padding: 5rem 1rem 0 2rem; /* Ajusta el padding para que el contenido no se vea cortado */
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right 0.7s;
        box-sizing: border-box; /* Incluye el padding en el ancho total */
        overflow: auto; /* Permite desplazarse si el contenido es más largo */
    }

    /* Muestra el menú al activar la clase "active" */
    .navbar-links.active {
        right: 0;
    }

    /* Ajustes de los enlaces en el menú desplegable */
    .navbar-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column; /* Disposición vertical en móvil */
    }

    .navbar-links li {
        padding: 0.5rem 0; /* Ajusta el padding entre los elementos del menú */
    }

    /* Muestra el botón de cierre en dispositivos móviles */
    .close-button {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: var(--nav-background);
        cursor: pointer;
    }
}

/*MAIN*/

/*SECTION1*/








.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    text-align: center;
    color: #000;
    margin-bottom: 2em;
    background-color: #f7f6fa;
}

@media (min-width: 768px) {
    .section-one {
        flex-direction: row; /* Alinear en fila en pantallas grandes */
        justify-content: space-between;
        align-items: flex-start; /* Alinear en la parte superior */
    }

    .section-one .content {
        padding-left: 1rem; /* Ajuste a la izquierda en pantallas grandes */
        flex: 1.5; /* Permitir que el contenido ocupe más espacio */
        text-align: left; /* Alinear el texto a la izquierda en pantallas grandes */
    }

    .section-one .image {
        flex: 1; /* Reducir el tamaño del contenedor de la imagen */
        margin-top: 0;
        width: 100%;
    }
}

.section-one h1 {
    font-size: 3.5rem; /* Tamaño grande en pantallas grandes */
    margin-bottom: 2rem;
    line-height: 1.2; /* Ajustar la altura de línea para el texto en varias líneas */
    max-width: 90%; /* Ajustar el ancho máximo del h1 para que ocupe más espacio */
    margin-top: 1.5em;
}

.section-one h1 span {
    color: var(--hover-color); /* Color azul */
    /* background: linear-gradient(500deg, #138A98, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s ease infinite; */
}

/* @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.section-one p {
    font-size: 1.2rem; /* Reducir el tamaño del párrafo */
    margin-bottom: 3rem; /* Reducir el margen inferior */
    line-height: 1.4; /* Ajustar la altura de línea para el párrafo en varias líneas */
    max-width: 70%; /* Controlar el ancho máximo del párrafo */
    text-align: justify;
    font-weight: 600;
    color: #52606d;
}

.section-one .buttons {
    display: flex;
    justify-content: left;
}

.section-one .btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 50px; /* Redondear los botones */
    cursor: pointer;
    /* transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; */
}

.section-one .secondary-btn {
    background-color: var(--hover-color);
    color: var(--gradient-end);
}

.section-one .secondary-btn:hover {
    background-color: var(--background-color); /* Cambiar a otro color */
    color: var(--text-color);
    border-color: var(--text-color);
    /*transform: scale(1.05); /* Animación de escalado */
}

@media (max-width: 768px) {
    .section-one .buttons {
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Ajuste del espacio entre botones */
    }

    .section-one .secondary-btn {
        width: 100%; /* Mayor largo */
    }
}

.section-one .image {
    margin-top: 6rem; /* Ajustar margen superior para pantallas pequeñas */
    flex: 1; /* Asegura que la imagen tenga espacio suficiente en pantallas pequeñas */
}

.section-one .responsive-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
    display: block;
}

/* @keyframes zoom-in-out {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
} */

@media (max-width: 767px) {
    .section-one h1 {
        font-size: 2.5rem; /* Tamaño adecuado para pantallas pequeñas */
        margin-top: 2em;
        max-width: 90%; /* Ajustar el ancho máximo del h1 para pantallas pequeñas */
        text-align: left;
    }

    .section-one p {
        font-size: 1.1rem; /* Tamaño adecuado para pantallas pequeñas */
        line-height: 1.8; /* Ajustar la altura de línea para el párrafo en varias líneas */
        max-width: 90%; /* Ajustar el ancho máximo del párrafo */
        text-align: left;
        margin-bottom: 2em;
    }

    .section-one {
        text-align: center;
    }
}















/*SECTION 1.2*/
.stats-section {
    padding: 3rem;
    background-color: var(--background-color-two);
    text-align: center;
    opacity: 0; /* Inicialmente oculto para la animación */
    transform: translateY(50px); /* Mover hacia abajo inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animación de entrada */
    color: var(--hover-color);
}

.stats-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.stats-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-item {
    flex: 1;
    padding: 2rem;
    border-right: 2px solid #ddd;
}

.stat-item:last-child {
    border-right: none;
}

.stat-number {
    font-size: 3rem; /* Aumentar tamaño de número */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        border: none;
        max-width: 90%;
    }

    .stat-item {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }

    .stat-item:last-child {
        border-bottom: none;
    }
}



















/*SECTION-TWO*/
.section-two {
    padding: 3rem 7rem;
    text-align: center;
    background-color: #eaf5f7; /* Color de fondo principal */
    position: relative;
    opacity: 0;
    transform: translateY(30px); /* Mueve la sección hacia abajo inicialmente */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Añade la transición */
}
.section-two.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-two h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--nav-background);
    position: relative;
    display: inline-block;
}

.underline {
    width: 100px; /* Ajusta el largo de la línea aquí */
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 auto 2rem auto;
}

.services-grid {
    display: grid;
    gap: 3.5rem; /* Separación entre tarjetas */
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila */
    justify-items: center; /* Centra las tarjetas horizontalmente dentro de su celda */
}

.service-card {
    background-color: var(--gradient-end);
    border-radius: 12px; /* Borde circular de las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 75%; /* Asegura que las tarjetas ocupen todo el ancho de su contenedor */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 0; /* Elimina el padding interno de la tarjeta */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
    opacity: 0;
    transform: translateY(20px); /* Mueve las tarjetas hacia abajo inicialmente */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Añade la transición */
}

.service-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.service-card .service-image {
    width: 100%;
    height: 250px; /* Altura fija para la imagen (ajústala según necesidad) */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    border-radius: 12px 12px 0 0; /* Bordes redondeados en la parte superior */
    margin: 0; /* Elimina márgenes de la imagen */
}

.service-card h3,
.service-card p,
.service-card .more-info {
    margin-left: 1.5rem; /* Margen izquierdo */
    margin-right: 4rem; /* Margen derecho */
}

.service-card h3 {
    font-size: 1.5rem;
    margin: 1.5rem 1rem 0.5rem 1.5rem; /* Margen a los lados */
    color: var(--nav-background);
    max-width: 60%; /* Limita el ancho máximo del encabezado */
}

.service-card p {
    color: var(--nav-background);
    margin-bottom: 2rem;
    font-size: 0.9rem;
    max-width: 90%; /* Limita el ancho máximo del párrafo */
}

.service-card .more-info {
    display: inline-block;
    margin-top: auto; /* Empuja el botón hacia abajo */
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem; /* Espacio en la parte inferior */
}

.service-card .more-info:hover {
    background-color: var(--hover-color);
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cta-button {
    display: inline-block;
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 1.5rem 3rem;
    background-color: var(--background-color);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-radius: 100px; /* Borde redondeado */
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-two h2 {
        font-size: 2rem;
    }

    .section-two {
        padding: 3rem 1rem;
        text-align: center;
    }

    .underline {
        width: 80px; /* Ajusta el largo de la línea en móviles */
    }

    .services-grid {
        grid-template-columns: 1fr; /* Una tarjeta por fila en móvil */
        gap: 2rem; /* Separación entre tarjetas en móviles */
    }

    .service-card {
        width: 80%;
        padding: 0; /* Elimina padding en móviles */
    }

    .service-card .service-image {
        height: auto; /* Ajusta la altura automáticamente en móviles */
        margin: 0; /* Elimina márgenes de la imagen */
    }

    .service-card h3,
    .service-card p,
    .service-card .more-info {
        margin-left: 1.3rem; /* Margen izquierdo en móviles */
        margin-right: 2.3rem; /* Margen derecho en móviles */
    }
}















/*SECTION THREE*/
.about-us {
    position: relative;
    color: white;
    padding: 2rem;
    min-height: 500px; /* Ajusta la altura mínima según tu diseño */
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    text-align: left;
    overflow: hidden; /* Asegura que el contenido no sobresalga */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/business.jpg'); /* Cambia la ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Mantiene la imagen detrás del contenido */
}

.about-content {
    max-width: 800px; /* Ajusta el tamaño máximo del contenedor de texto */
    padding: 2rem;
    margin-left: 2rem; /* Agrega margen izquierdo para separar del borde */
    position: relative; /* Necesario para el botón */
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem; /* Separación entre párrafos */
    max-width: 570px;
    text-align: justify;
}

/* Botón "Conócenos" */
.btn-conocenos {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 6rem;
    padding: 1rem 2.5rem; /* Ajusta el tamaño del botón */
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 100px; /* Borde redondeado */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
    max-width: 300px; /* Ancho máximo para el botón */
    text-align: center; /* Alinea el texto al centro */
}

/* Cambia el color del botón al pasar el mouse */
.btn-conocenos:hover {
    background-color: var(--button-color); /* Color del botón al pasar el mouse */
    transform: scale(1.1); /* Escala el botón al pasar el mouse */
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-us {
        padding: 1rem;
        text-align: center; /* Centra el contenido horizontalmente */
    }

    .background-image {
        background-position: center; /* Ajusta la imagen para cubrir adecuadamente */
        height: 150%;
    }

    .about-content {
        margin-left: 1rem; /* Reduce el margen izquierdo en móviles */
        margin-right: 1rem; /* Agrega margen derecho para igualar */
        padding: 1rem;
        max-width: 100%; /* Ajusta el tamaño máximo para adaptarse a pantallas más pequeñas */
        text-align: left; /* Mantiene el texto alineado a la izquierda */
    }

    .about-content h2 {
        font-size: 1.8rem;
        text-align: center; /* Centra el título en pantallas pequeñas */
        margin-top: 4rem;
    }

    .about-content p {
        font-size: 1.2rem;
        max-width: 100%; /* Permite que el párrafo use todo el ancho disponible */
        text-align: left; /* Alinea el texto a la izquierda en pantallas pequeñas */
        margin-bottom: 3rem;
    }

    /* Alineación del botón "Conócenos" */
    .btn-conocenos {
        display: block;
        margin: 1rem auto; /* Centra el botón horizontalmente */
        padding: 1.3rem 0.5rem; /* Ajusta el tamaño del botón */
        font-size: 1rem;
        max-width: 200px; /* Ancho máximo del botón en móviles */
        margin-bottom: 4rem;
    }
}











/*SECTION FOUR*/
.section-four {
    padding: 3rem 1.5rem;
    background-color: #f9f9f9;
}

.section-four .section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.section-four .section-title h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-four .section-title p {
    font-size: 1rem;
    color: #333;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.team-member {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 500px; /* se puede justar el tamaño según sea necesario */
}

.team-member .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member .member-info {
    padding: 1rem;
}

.team-member .member-info h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.team-member .member-info span {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #777;
}

.team-member .member-info p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: #555;
}

.team-member .member-info .social {
    display: flex;
    gap: 0.5rem;
}

.team-member .member-info .social a {
    color: #333;
    font-size: 1.25rem;
    transition: color 0.3s;
}

.team-member .member-info .social a:hover {
    color: var(--primary-color);
}





/*SECTION FIVE*/
.section-five {
    padding: 3.5rem 1.5rem 6rem;
    background-color: var(--background-color);
}

.contact-content {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al inicio de la línea */
}

.contact-info {
    color: #fff;
    margin-left: 7%; /* Mayor margen izquierdo */
    max-width: 40%; /* Ocupa máximo 45% de la pantalla */
    flex: 1;
}

.contact-info h1 {
    font-size: 2.7rem; /* Tamaño de letra más grande */
    margin-bottom: 3rem;
    color: #fff;
    margin-top: 7rem;
}

.contact-info p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    max-width: 70%;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-info ul li .icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--background-color);
    margin-right: 1rem;
}

.contact-form {
    background-color: #eaf5f7;
    padding: 2rem;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 3em;
}

.contact-form .contact-img {
    max-width: 40%;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.contact-form .form-group {
    margin-bottom: 1rem;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: calc(100% - 4rem); /* Margen izquierdo y derecho igual */
    padding: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Tipo de letra al escribir */
}

.contact-form .form-group input::placeholder,
.contact-form .form-group textarea::placeholder {
    color: #000;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    border-color: var(--background-color); /* Ilumina el borde al enfocar */
    outline: none;
    box-shadow: 0 0 5px rgba(51, 139, 233, 0.5);
}

.contact-form button {
    background-color: var(--background-color);
    color: #fff;
    border: none;
    padding: 0.75rem 4rem; /* Botón más largo */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-form button:hover {
    background-color: var(--hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: stretch;
    }

    .contact-form {
        max-width: 75%;
        margin-bottom: -1.5rem;
    }

    .contact-info {
        margin-left: 1.5rem;
        max-width: 100%;
        margin-bottom: -2rem;
        margin-top: -5rem;
    }
}









/*FOOTER*/
.site-footer {
    background-color: #eaf5f7;
    color: #000;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    text-align: left; /* Alineación a la izquierda */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-logo img {
    max-width: 120px;
    margin-left: 1.5rem; /* Alineación a la izquierda */
    margin-bottom: -0.5rem;
}

.footer-line {
    border: 0;
    height: 2px;
    background-color: var(--hover-color); /* Color verde agua */
    margin: 0 2rem 1.5rem 2rem; /* Alineación a la izquierda */
}

.footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    margin-left: 2rem; /* Alineación a la izquierda */
}

.footer-info ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer-info ul li i {
    margin-right: 0.5rem;
    color: var(--hover-color); /* Iconos en verde agua */
}

.footer-social {
    margin-top: 1.5rem;
    margin-left: 2rem; /* Alineación a la izquierda */
}

.footer-social a {
    color: #000;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--hover-color); /* Cambia a verde agua al pasar el cursor */
}

.footer-legal {
    margin-top: 2rem;
    margin-left: 2rem; /* Alineación a la izquierda */
    font-size: 0.9rem;
}

.footer-legal p {
    margin: 0.5rem 0;
}

.footer-legal a {
    color: #000;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        padding: 0 1rem;
    }

    .footer-logo img {
        max-width: 120px;
        margin-left: 1rem;
    }

    .footer-line {
        margin: 0 1rem 1.5rem 1rem;
    }

    .footer-info ul li {
        font-size: 0.9rem;
    }

    .footer-social {
        margin-left: 1.5rem;
    }

    .footer-legal {
        margin-left: 2rem;
    }
}



