:root {
    --primary-color: #138a98;
    --secondary-color: #ffffffb3;
    --background-color: #2F3565;
    --background-color-two: #f7f6fa;
    --nav-background: #01030e;
    --hover-color: #138a98;
    --hover-shadow-color: rgba(30, 144, 255, 0.8);
    --text-color: white;
    --text-muted-color: #ffffffb3;
    --gradient-start: #1e90ff;
    --gradient-end: #ffffff;
    --button-color: #e48c2f;

    /* 2f3565
    138a98 */
    /*e1f0f7*/

}



body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-two);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f3f8; /* Cambié el fondo a blanco */
    padding: 1rem;
    color: var(--text-color);
    position: relative;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);  /* Añadí un borde inferior */
    font-family: Poppins, sans-serif;
}

.brand-title {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.logo {
    height: 55px;
    margin-left: 10%;
}

.navbar-links {
    display: flex;
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding-right: 7rem;
}

.navbar-links li {
    padding: 0 1rem;
}

.navbar-links a {
    color: var(--nav-background);
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative; /* Para el efecto del rectángulo gris */
}

.navbar-links a:hover {
    color: var(--nav-background); /* Mantuve el color de la letra */
}

.navbar-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); /* Rectángulo gris medio transparente */
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
}

.navbar-links a:hover::before {
    opacity: 10; /* Efecto de hover en el rectángulo gris */
}

.contact-button {
    background-color: var(--background-color); /* Botón azul para "Contacto" */
    color: var(--nav-background);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}


.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 2px;
    width: 19px;
    background-color: var(--nav-background);
    border-radius: 10px;
}

.close-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--nav-background);
    cursor: pointer;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-right: .5em; /* Asegura que el botón esté en su posición original */
    }

    

    .navbar-links {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 60%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .7s;
    }

    .navbar-links.active {
        right: 0;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links li {
        padding: 0.5rem 0;
    }

    .close-button {
        display: block;
    }
}















/*MAIN*/

/*SECTION1*/
.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    text-align: center;
    color: #000;
    margin-bottom: 5em;
    background-color: #f7f6fa;
}

@media (min-width: 768px) {
    .section-one {
        flex-direction: row; /* Alinear en fila en pantallas grandes */
        justify-content: space-between;
        align-items: flex-start; /* Alinear en la parte superior */
    }

    .section-one .content {
        padding-left: 2rem; /* Ajuste a la izquierda en pantallas grandes */
        flex: 1; /* Permitir que el contenido ocupe parte del espacio */
        text-align: left; /* Alinear el texto a la izquierda en pantallas grandes */
    }

    .section-one .image {
        margin-top: 0;
        flex: 2; /* Aumentar el tamaño del contenedor de la imagen */
    }
}

.section-one h1 {
    font-size: 4rem; /* Tamaño grande en pantallas grandes */
    margin-bottom: 2rem;
    line-height: 1.2; /* Ajustar la altura de línea para el texto en varias líneas */
    max-width: 600px; /* Controlar el ancho máximo del h1 */
    margin-top: .5em;
}

.section-one h1 span {
    color: var(--background-color); /* Color azul */
    /* background: linear-gradient(500deg, #138A98, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s ease infinite; */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.section-one p {
    font-size: 19px; /* Tamaño grande en pantallas grandes */
    margin-bottom: 4rem;
    line-height: 1.7; /* Ajustar la altura de línea para el párrafo en varias líneas */
    max-width: 700px; /* Controlar el ancho máximo del párrafo */
    text-align: justify;
    font-weight: 500;
}

.section-one .buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.section-one .btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 50px; /* Redondear los botones */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.section-one .primary-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.section-one .primary-btn:hover {
    background-color: var(--button-color); /* Cambiar a otro color */
    color: var(--gradient-end);
    transform: scale(1.05); /* Animación de escalado */
}

.section-one .secondary-btn {
    background-color: var(--text-color);
    color: var(--nav-background);
    border-color: var(--button-color);
}

.section-one .secondary-btn:hover {
    background-color: var(--button-color); /* Cambiar a otro color */
    color: var(--text-color);
    border-color: var(--text-color);
    transform: scale(1.05); /* Animación de escalado */
}

@media (max-width: 768px) {
    .section-one .buttons {
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Ajuste del espacio entre botones */
    }

    .section-one .primary-btn {
        width: 79%; /* Menor largo */
        margin-bottom: 0.5rem;
    }

    .section-one .secondary-btn {
        width: 100%; /* Mayor largo */
    }
}



.section-one .image {
    margin-top: 4rem;
    flex: 1; /* Asegura que la imagen tenga espacio suficiente en pantallas pequeñas */
}

.section-one .responsive-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

.section-one .responsive-image {
    animation: zoom-in-out 5s ease-in-out infinite;
}

/* Ajustar tamaño del texto en pantallas pequeñas */
@media (max-width: 767px) {
    .section-one h1 {
        font-size: 2.8rem; /* Tamaño adecuado para pantallas pequeñas */
        margin-top: 0;
    }

    .section-one{
        text-align: left;
    }

    .section-one p {
        font-size: 1.2rem; /* Tamaño adecuado para pantallas pequeñas */
        line-height: 1.9; /* Ajustar la altura de línea para el párrafo en varias líneas */
        max-width: 400px; /* Controlar el ancho máximo del párrafo */
        text-align: left;
        font-weight: 500;
        margin-bottom: 3em;
        }
}














/*SECTION-TWO*/
.section-two {
    padding: 3rem 7rem;
    text-align: center;
    background-color: #eaf5f7; /* Color de fondo principal */
    position: relative;
}

.section-two h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--nav-background);
    position: relative;
    display: inline-block;
}

.underline {
    width: 120px; /* Ajusta el largo de la línea aquí */
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 auto 2rem auto;
}

.services-grid {
    display: grid;
    gap: 4rem; /* Separación entre tarjetas */
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila */
    justify-items: center; /* Centra las tarjetas horizontalmente dentro de su celda */
}

.service-card {
    background-color: var(--gradient-end);
    padding: 1rem;
    border-radius: 12px; /* Borde circular de las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Asegura que las tarjetas ocupen todo el ancho de su contenedor */
    height: 220px; /* Altura fija para las tarjetas (ajústalo según necesidad) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--hover-color); /* Borde azul delgado */
}

.service-card i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--nav-background);
}

.service-card p {
    color: var(--nav-background);
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.service-card .more-info {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.service-card .more-info:hover {
    color: var(--hover-color);
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cta-button {
    display: inline-block;
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 1.5rem 3rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-radius: 100px; /* Borde redondeado */
    transition: background-color 0.4s ease;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    
}

.cta-button:hover {
    background-color: var(--button-color);
    transform: scale(1.05);
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-two h2 {
        font-size: 2rem;
    }

    .section-two {
        padding: 3rem 1rem;
        text-align: center;
    }

    .underline {
        width: 80px; /* Ajusta el largo de la línea en móviles */
    }

    .services-grid {
        grid-template-columns: 1fr; /* Una tarjeta por fila en móvil */
        gap: 2rem; /* Separación entre tarjetas en móviles */
    }

    .service-card {
        padding: 1rem;
        height: auto; /* Ajuste automático de altura en móviles */
        width: 80%;
    }

    .cta-button {
        padding: 1.5rem 3rem;
    }
}












/*SECTION THREE*/
.about-us {
    position: relative;
    color: white;
    padding: 2rem;
    min-height: 500px; /* Ajusta la altura mínima según tu diseño */
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    text-align: left;
    overflow: hidden; /* Asegura que el contenido no sobresalga */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/business.jpg'); /* Cambia la ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Mantiene la imagen detrás del contenido */
}

.about-content {
    max-width: 800px; /* Ajusta el tamaño máximo del contenedor de texto */
    padding: 2rem;
    margin-left: 2rem; /* Agrega margen izquierdo para separar del borde */
    position: relative; /* Necesario para el botón */
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem; /* Separación entre párrafos */
    max-width: 570px;
    text-align: justify;
}

/* Botón "Conócenos" */
.btn-conocenos {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 6rem;
    padding: 1rem 2.5rem; /* Ajusta el tamaño del botón */
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 100px; /* Borde redondeado */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
    max-width: 300px; /* Ancho máximo para el botón */
    text-align: center; /* Alinea el texto al centro */
}

/* Cambia el color del botón al pasar el mouse */
.btn-conocenos:hover {
    background-color: var(--button-color); /* Color del botón al pasar el mouse */
    transform: scale(1.1); /* Escala el botón al pasar el mouse */
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-us {
        padding: 1rem;
        text-align: center; /* Centra el contenido horizontalmente */
    }

    .background-image {
        background-position: center; /* Ajusta la imagen para cubrir adecuadamente */
        height: 150%;
    }

    .about-content {
        margin-left: 1rem; /* Reduce el margen izquierdo en móviles */
        margin-right: 1rem; /* Agrega margen derecho para igualar */
        padding: 1rem;
        max-width: 100%; /* Ajusta el tamaño máximo para adaptarse a pantallas más pequeñas */
        text-align: left; /* Mantiene el texto alineado a la izquierda */
    }

    .about-content h2 {
        font-size: 1.8rem;
        text-align: center; /* Centra el título en pantallas pequeñas */
        margin-top: 4rem;
    }

    .about-content p {
        font-size: 1.2rem;
        max-width: 100%; /* Permite que el párrafo use todo el ancho disponible */
        text-align: left; /* Alinea el texto a la izquierda en pantallas pequeñas */
        margin-bottom: 3rem;
    }

    /* Alineación del botón "Conócenos" */
    .btn-conocenos {
        display: block;
        margin: 1rem auto; /* Centra el botón horizontalmente */
        padding: 1.3rem 0.5rem; /* Ajusta el tamaño del botón */
        font-size: 1rem;
        max-width: 200px; /* Ancho máximo del botón en móviles */
        margin-bottom: 4rem;
    }
}











/*SECTION FOUR*/
.section-four {
    padding: 3rem 1.5rem;
    background-color: #f9f9f9;
}

.section-four .section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.section-four .section-title h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-four .section-title p {
    font-size: 1rem;
    color: #333;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.team-member {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 500px; /* se puede justar el tamaño según sea necesario */
}

.team-member .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member .member-info {
    padding: 1rem;
}

.team-member .member-info h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.team-member .member-info span {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #777;
}

.team-member .member-info p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: #555;
}

.team-member .member-info .social {
    display: flex;
    gap: 0.5rem;
}

.team-member .member-info .social a {
    color: #333;
    font-size: 1.25rem;
    transition: color 0.3s;
}

.team-member .member-info .social a:hover {
    color: var(--primary-color);
}





/*SECTION FIVE*/
.section-five {
    padding: 3.5rem 1.5rem 6rem;
    background-color: var(--background-color);
}

.contact-content {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al inicio de la línea */
}

.contact-info {
    color: #fff;
    margin-left: 7%; /* Mayor margen izquierdo */
    max-width: 40%; /* Ocupa máximo 45% de la pantalla */
    flex: 1;
}

.contact-info h1 {
    font-size: 2.7rem; /* Tamaño de letra más grande */
    margin-bottom: 3rem;
    color: #fff;
    margin-top: 7rem;
}

.contact-info p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    max-width: 70%;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-info ul li .icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--background-color);
    margin-right: 1rem;
}

.contact-form {
    background-color: #eaf5f7;
    padding: 2rem;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 3em;
}

.contact-form .contact-img {
    max-width: 40%;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.contact-form .form-group {
    margin-bottom: 1rem;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: calc(100% - 4rem); /* Margen izquierdo y derecho igual */
    padding: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Tipo de letra al escribir */
}

.contact-form .form-group input::placeholder,
.contact-form .form-group textarea::placeholder {
    color: #000;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    border-color: var(--background-color); /* Ilumina el borde al enfocar */
    outline: none;
    box-shadow: 0 0 5px rgba(51, 139, 233, 0.5);
}

.contact-form button {
    background-color: var(--background-color);
    color: #fff;
    border: none;
    padding: 0.75rem 4rem; /* Botón más largo */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-form button:hover {
    background-color: var(--hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: stretch;
    }

    .contact-form {
        max-width: 75%;
        margin-bottom: -1.5rem;
    }

    .contact-info {
        margin-left: 1.5rem;
        max-width: 100%;
        margin-bottom: -2rem;
        margin-top: -5rem;
    }
}









/*FOOTER*/
.site-footer {
    background-color: #eaf5f7;
    color: #000;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    text-align: left; /* Alineación a la izquierda */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-logo img {
    max-width: 120px;
    margin-left: 1.5rem; /* Alineación a la izquierda */
    margin-bottom: -0.5rem;
}

.footer-line {
    border: 0;
    height: 2px;
    background-color: #2cdd9b; /* Color verde agua */
    margin: 0 2rem 1.5rem 2rem; /* Alineación a la izquierda */
}

.footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    margin-left: 2rem; /* Alineación a la izquierda */
}

.footer-info ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer-info ul li i {
    margin-right: 0.5rem;
    color: #2cdd9b; /* Iconos en verde agua */
}

.footer-social {
    margin-top: 1.5rem;
    margin-left: 2rem; /* Alineación a la izquierda */
}

.footer-social a {
    color: #000;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #2cdd9b; /* Cambia a verde agua al pasar el cursor */
}

.footer-legal {
    margin-top: 2rem;
    margin-left: 2rem; /* Alineación a la izquierda */
    font-size: 0.9rem;
}

.footer-legal p {
    margin: 0.5rem 0;
}

.footer-legal a {
    color: #000;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        padding: 0 1rem;
    }

    .footer-logo img {
        max-width: 120px;
        margin-left: 1rem;
    }

    .footer-line {
        margin: 0 1rem 1.5rem 1rem;
    }

    .footer-info ul li {
        font-size: 0.9rem;
    }

    .footer-social {
        margin-left: 1.5rem;
    }

    .footer-legal {
        margin-left: 2rem;
    }
}



